PORT=4000
MONGODB_URI=mongodb://localhost:27017/luxestore
JWT_SECRET=luxestore_dev_secret
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
FRONTEND_URLS=http://localhost:3000,http://localhost:3001,http://localhost:3002
